# Partes Back-End .NET API

.appsettings.json
Migrations
bin/
obj/

# Partes Front-End Angular 
appClimaWeb/dist
appClimaWeb/tmp
appClimaWeb/out-tsc
appClimaWeb/bazel-out

appClimaWeb/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

.DS_Store
Thumbs.db

.angular
.vscode
